#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  background-image: url(/src/image/workplace-arrangement-purple-background-with-copy-space.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}